/* footer styles for footer.tsx */
/* Layout & Structure */
header {
	background-color: antiquewhite;
	border-radius: 30px;
	margin-bottom: 30px;
	padding: 20px 0;
}

nav > ul {
	display: flex;
	justify-content: space-around;
	font-size: larger;
}

a {
	color: #18272F;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 4px;
	background-color: #18272F;
	font-size: larger;
	text-transform: uppercase;
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .3s ease-in-out;
}

a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}