#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

#root h1 {
	font-size: 3rem;
}

section > article {
	margin: 20px auto 20px auto;
	padding: 30px;

	border: 1px solid #242424;
	max-width: 50%;
	border-radius: 30px;
}
