body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #2A324B; /* space cadet */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #F7C59F; /* peach */
  text-decoration-thickness: 50%;
}
