/* footer styles for footer.tsx */

footer {
    background-color: antiquewhite;
    color: #213547;
    padding: 20px;
    margin-top: 10px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

a {
	color: #18272F;
	position: relative;
	text-decoration: none;
}

a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}